# exclude all binaries
*.pyc
# exclude all test job outputs
*.out
# exclude helper scripts
scripts/*.sh
# exclude
vmms/id_rsa*
courselabs/*
dockerTmp/*
id_ed25519
id_ed25519.pub
# config
config.py

# Virtualenv
.Python
bin
lib
include
pip-selfcheck.json

# Mac OS X custom attribute files
.DS_Store

# IDEs
.idea
.vscode

# Backup files
*.bak

# Tests
tests/my_tests/*
tests/sample_test/output
tests/sample_test/output/*
tests/sample_test/log.txt
tests/sample_test/summary.txt